[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    st = status
    stu = status -uno
    cm = commit -v
    root = !pwd
    flog = log --name-status
    treelog =  log --oneline --decorate --all --graph
    d = difftool -R
    daylog = log --since=\"1 day ago\"  --author=kravets --oneline
    weeklog = log --since=\"1 week ago\"  --author=kravets  --oneline
[core]
    excludesfile = ~/gitignore
[push]
    default = current
[apply]
    whitespace = warn
[diff]
    tool = vimdiff
[difftool]
    prompt = true
[pull]
    rebase = true
[include]
    path = ~/.gitconfig.local
[branch]
    autosetuprebase = always
[sendemail]
    smtpserver = /usr/bin/msmtp
[credential]
    helper = store
