tags
.adobe
bin
.cache
.dbus
Desktop
Documents
Downloads
.dropbox
Dropbox
.Skype
.Xauthority
.fehbg
.fontconfig
.gnome
curr
games
yankring_history*
private
.local
music
.flexget
.frozenbyte
.gnupg
.gqview
.pulse*
*.log
.lastpass
.private
.zcomp*
.zsh_history
.serverauth*
.vimperator
.viminfo
.torrent_sessions
.mutt
.thumbnails
.macromedia
.lesshst
.gstreamer-0.10
.sdcv_history
.netrc
.nv
.purple
.config/Skype
.config/Trolltech.conf
.config/menus
.config/geeqie
.config/gtk-2.0/
.pymind.token
.ssh
.mozilla
!./.mozilla/firefox/*/chrome/userContent.css
.vim/.netrwhist
