[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  st = status
  stu = status -uno
  cm = commit -v
  root = !pwd
  flog = log --name-only
  treelog =  log --oneline --decorate --all --graph
[core]
  excludesfile = ~/gitignore
[push]
  default = current
[apply]
  whitespace = error-all

[pull]
  rebase = true

[include]
  path = ~/.gitconfig.local
[branch]
	autosetuprebase = always
