[user]
  name = kayrick
  email = mr.kayrick@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  st = status
  cm = commit
  root = !pwd
  treelog = log --graph --decorate --pretty=oneline --abbrev-commit
[core]
  excludesfile = ~/gitignore
[push]
	default = simple
