[submodule "git/todo.txt-vim"]
	path = git/todo.txt-vim
	url = git://github.com/freitass/todo.txt-vim.git
[submodule "git/todo.txt"]
	path = git/todo.txt
	url = git://github.com/ginatrapani/todo.txt-cli.git
[submodule "git/vim-localrc"]
	path = git/vim-localrc
	url = git://github.com/thinca/vim-localrc.git
