min_peers = 1
max_peers = 1000
min_peers_seed = 1
max_peers_seed = 50   
download_rate = 0
upload_rate = 0
directory = ~/Downloads/
session = /home/kayrick/.torrent_sessions
port_range =46000-47000 
port_random = yes
check_hash = no
use_udp_trackers = yes
#enable_trackers = yes
session_save = yes
dht = auto
dht_port = 31345
peer_exchange = yes
encryption = allow_incoming,enable_retry,prefer_plaintext
